.container {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1.15%;
}

/* .col {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 1.15%;
} */